.p1 {
  width: 210px;
  padding: 35px;
  margin: 0px;
  border: 5px solid black;
  font-size: 30px;
  color: rgb(11, 2, 173);
  background-color: rgb(255, 255, 0);
}

.p2 {
  width: 210px;
  padding: 35px;
  margin: 0px;
  border: 5px solid black;
  font-size: 30px;
  color:red;
  background-color: rgb(0, 255, 255);
}

.box {
  width: 290px;
  padding: 20px;
  margin: 10px;
  color: rgb(220, 250, 0);
  background-color: rgb(1, 127, 1);
}
